
.pp{
  max-width: 100%;
  height: auto;
}

.custom-bg{
  max-width: 100%;
  height: 100vh;
  background-color: #6883aa;
  background-image: url("../img/bg-full.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-center{
  margin-top: 50vh;
  top: -32px;
}

.modal-body-custom{
  padding: 0;
}
